#@layer()

#define script()
<script>

    $(function () {
        $('.date-control').datepicker({
            language: 'zh',
            autoClose: true,
            dateFormat: 'yyyy-mm-dd',
            minDate: new Date()
        })
    })
    function saveSuccess() {
        toastr.success('积分添加成功。');
        doClose();
    }

    function doClose() {
        if (parent && parent.layer) {
            parent.layer.closeAll();
        }
    }

</script>

#end

#define content()

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid p-0">
            <div class="card card-outline shadow-none p-0 m-0">
                <form class="autoAjaxSubmit" autocomplete="off"
                      method="post"
                      data-ok-function="saveSuccess"
                      action="#(CPATH)/user/integral/doAdd">
                <div class="card-body" style="height: calc( 100vh - 63px );">
                        <input type="hidden" name="integralDetails.userId" value="#(userId)">
                        <input type="hidden" name="integralDetails.type" value="1">
                        <div class="form-group row">
                            <label class="col-2 col-form-label">积分</label>
                            <div class="col-8">
                                <input type="number" class="form-control" placeholder="积分值"
                                       name="integralDetails.integral" value="1" required min="1">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label">过期时间</label>
                            <div class="col-8">
                                <input type="text" class="form-control date-control" required placeholder="过期时间"
                                       name="integralDetails.expire">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label">备注</label>
                            <div class="col-8">
                                <textarea  class="form-control" placeholder="备注"
                                           name="integralDetails.remark">管理员奖励积分</textarea>
                            </div>
                        </div>
                        <!-- /.box-body -->
                </div> <!-- /.card-body -->

                <div class="card-footer">
                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-primary float-right">
                                        <i class="fa fa-fw fa-check"></i> 确定
                                    </button>
                                    <button type="button" class="btn btn-outline-secondary float-right mr-2"
                                            onclick="doClose()">
                                        <i class="fa fa-fw fa-times"></i> 取消
                                    </button>
                                </div>

                            </div>
                </div>
                </form>

            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->

#end
