#include("_user_detail_layout.html")
#@user_detail_layout("detail-integral")
#define detail()
<div class="card-body p-0">
    <table class="table table-striped">
        <tbody>
        <tr>
            <th style="width: 15%">创建时间</th>
            <th style="width: 15%">过期时间</th>
            <th style="width: 10%">类型</th>
            <th style="width: 10%">积分</th>
            <th style="width: 50%">备注</th>
        </tr>

        #for(integralDetail : page.list)
        <tr>
            <td>#date(integralDetail.created,'yyyy-MM-dd HH:mm:ss')</td>
            <td>#date(integralDetail.expire ??,'yyyy-MM-dd HH:mm:ss')</td>
            <td>#(integralDetail.getTypeStr() ??)</td>
            <td>#(integralDetail.integral ??)</td>
            <td>#(integralDetail.remark ??)</td>
        </tr>
        #end

        </tbody>
    </table>
</div>

<div class="card-footer">
    <div class="row">
        <div class="col-sm-12">
            #@_paginate()
        </div>
    </div>
</div>

#end

